<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<display-name>KangTodoProject</display-name>

	<resource-ref>
		<description>DBCP Connection 정의</description>
		<res-ref-name>jdbc/todoDBPool</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>


	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>com.kang.controller.Controller</servlet-class>
		<init-param>
			<param-name>commandURI</param-name>
			<param-value>/WEB-INF/commandURI.properties</param-value>
		</init-param>
	</servlet>
	<!-- .do로 들어오는 모든 컨트롤러를 거치게 된다. -->
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>