<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JSPStudyCh14Oracle</display-name>
  <resource-ref>
    <description>DBCP Connection 정의</description>
    <res-ref-name>jdbc/bbsDBPool</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.jspstudy.ch14.controller.FrontController</servlet-class>
    <init-param>
    	<param-name>commandURI</param-name>
    	<param-value>/WEB-INF/commandURI.properties</param-value>
    	
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.two</url-pattern>
  </servlet-mapping>
</web-app>